---
import Menu from '../components/Menu.svelte'
import Theatre from '../components/Theatre.svelte'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Liam Dodd</title>
	</head>
	<body>
		<h1>Liam Dodd</h1>
		<div>Welcome to my little corner of the internet!</div>
		<div>Here you'll find all sorts of weird things that tickle my fancy.</div>
		<div>Perhaps there is something for you too? </div>
		<div>Take a look around! </div>
		<div>If any questions come up don't hesitate to ask!</div>
		<h2><a href="/joya/">Joya</a>: Artist in Residence</h2>
		<Theatre client:only />
		<Menu client:only />
	</body>
</html>
