---
import Style from '../styles/index.scss'
import Cube from '../components/Cube.svelte'
import Joya from '../components/joya.svelte'
import Install from '../components/install.svelte';



---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Liam Dodd</title>
		<script>
		</script>
	</head>
	<body>
		<div id="copy">
			<h1>Liam Dodd</h1>
			<!-- <Joya client:only /> -->
			<h2>Welcome to my little corner of the internet!</h2>
			<h3>Here you'll find all sorts of weird things that tickle my fancy.</h3>
			<h4>Perhaps there is something for you too? </h4>
			<h4>Take a look around! </h4>
			<h4>If any questions come up don't hesitate to ask!</h4>
			<h2><a href="/joya/">Joya</a></h2>
		</div>
		<Install client:only />
		<div id="stage"></div>
	</body>
	<style lang="scss">
    	$beaver: #8C7865ff;
    	$silver: #BABABAff;
    	$dim-gray: #686862ff;
    	$jet: #2B2C2Cff;
    	$battleship-gray: #87837Eff;


		#copy {
			display: grid;
			grid-template-columns: repeat(1,1fr);
			grid-template-rows: auto;
			column-gap: 100vh;
			row-gap: 100vh;
			font-family: monospace;
		}
		#copy h1 {
			color: $jet;
			text-align: center;
			margin: 0;
			padding: 0;
		}
		#copy h2 {
			color: $silver;
			text-align: center;
			margin: 0;
			padding: 0;
		}
		#copy h3 {
			color: $beaver;
			text-align: center;
			margin: 0;
			padding: 0;
		}
		#copy h4 {
			color: $dim-gray;
			text-align: center;
			margin: 0;
			padding: 0;
		}
		a {
			text-decoration-line: none;
			color: ghostwhite;
		}
		a:visited {
			color: ghostwhite;
		}
		a:hover {
			color: orange;
		}
		#stage {
			height: 800vh;
		}
	</style>
</html>
